<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- Orchids Form -->
    <form method="post">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="name" type="text" placeholder="Enter orchid name">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Image URL</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="image" type="text" placeholder="Enter image URL">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Price</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="price" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Original</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="original" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Is Natural</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="isNatural" value="true">
                            True
                        </label>
                        <input type="checkbox" name="isNatural" value="false">
                        false
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Color</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="color" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Add Orchid</button>
            </div>
            <div class="control">
                <a href="/orchids" class="button is-light">Cancel</a>
            </div>
        </div>
    </form>
</body>

</html>